
body {
    display:flex;
    background-color: rgb(255, 247, 236);
    justify-content: center;
}

form {
    display: inline-block;
    text-align:center;
    background-color: bisque;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

form input {
    border-radius: 5px;
    padding:5px;
}

.dif {
    column-gap:0;
    margin-top: 14em;
    columns:2;
}