body {
    padding-top:75px;
    padding-left:14em;
}

#container {
    margin-left: -2em;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
}

.track {
    background-color:bisque;
    padding-left: 1em;
    padding-right: 1em;
    width:15em;
    min-height:50em;
    max-height: none;
    padding-top:1em;
    border-radius: 1em;
    text-align: center;
    height: auto;
    max-height: none;
}

.trackOptions {
    padding-top: 1px;
    width:2em;
    height:2em;
    margin-inline: 1em;
    background-color: antiquewhite;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: bisque;
}

.li {
    background-color: white;
    padding-inline: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
}

.li h3 {
    margin-top: -0.25em;
}

.li button {
    width: 2em;
    height: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-style:solid;
    background-color:bisque;
    border-radius: 5px;
    border-color: bisque;
}

.li p {
    text-align: left;
    margin-bottom: -1em;
    padding: 0.25em;
}

.li button:active {
    background-color:bisque;
    border-style:solid;
}

.newGoal {
    margin-top: 1em;
    width: 3em;
    height: 3em;
    background-color: beige;
    color: black;
    border-radius: 100%;
    border-width: 4px;
    border-style:outset;
    border-color: antiquewhite;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

button:active {
    border-style:inset;
    border-width: 3px;
}

button:hover {
    cursor:pointer;
}

.newTrackerButton {
    padding-left: 2em;
    padding-right: 2em;
    min-height:50em;
    padding-top:1em;
    border-radius: 1em;
    align-content: center;
    text-align: center;
}

.newTracker {
    font-size: 2em;
    margin-top: 1em;
    width: 2em;
    height: 2em;
    background-color: bisque;
    color: black;
    border-radius: 100%;
    border-width: 4px;
    border-style:outset;
    border-color: rgb(209, 188, 162);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#left {
    margin-right:1.5em;
}

#right {
    margin-left:1.5em;
}